.white {
    color: azure;
}

.dark {
    color: rgb(29, 29, 31);
}

.bg-white {
    color: azure;
}

.bg-dark {
    background-color: rgb(29, 29, 31);
}

.bg-dark-opacity {
    background-color: rgb(29, 29, 31, 50%);
     backdrop-filter: blur(10px);             /* själva frosteffekten */
    -webkit-backdrop-filter: blur(10px);     /* Safari-support */
}


.bg-grad {
  background-image: radial-gradient(rgb(60, 60, 63), rgb(29, 29, 31));
  background-repeat: no-repeat;
  background-size: cover;
}

.green {
    color: #55ffb5;
}

.red {
    color: #ff5555;
}

.pink {
    color: #ee55ff;
}

.blue {
    color: #55c1ff;
}

.yellow {
    color: #ffc355;
}