#dotGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 14px);
    gap: 2px;
    width: 100%;
    padding: 20px;
}

.dot {
    width: 15px;
    height: 15px;
    background: #b7b7b7;
    border-radius: 50%;
}
