.form-card-body {
  rotate: 2deg;
}

@keyframes pulseAnim {
  from {
    transform: rotate(45deg) scale(1);
  }
  to {
    transform: rotate(45deg) scale(0.8);
  }
}

.arrow.down {
  border: solid azure;
  border-width: 0 7px 7px 0;
  display: inline-block;
  padding: 10px;
  margin-top: 60px;
  animation-name: pulseAnim;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


.dotgrid-card-body {
  rotate: -2deg;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 400px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.indicator-dot-one {
  height: 15px;
  width: 15px;
  background-color: black;
  border-radius: 100%;
}
.indicator-dot-two {
  height: 15px;
  width: 15px;
  border: 2px solid black;
  border-radius: 100%;
}

.flip-card.flipped .indicator-dot-one {
  background-color: white;
  border: 2px solid black;
}

.flip-card.flipped .indicator-dot-two {
  background-color: black;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    border-color: #6b6b6b; 
    border-radius: 16px;
}

/* Style the back side */
.flip-card-back {
  background-color: #6b6b6b;
  transform: rotateY(180deg);
    border-radius: 16px;
}

.flip-btn {
}